<html>
    <head>
        <title>FSR-Infoscreen</title>
    </head>

    <body>
        <h2>Heute @Alte Mensa</h2>
        <table border=1>
            <tr>
                <th>Name</th>
                <th>Preis</th>
                <th>Anmerkungen</th>
            </tr>
            {% for meal in meals %}
            <tr>
                <td>{{ meal.name }}</td>
                <td>{% if meal.prices.students %} {{ meal.prices.students }} €{% endif %}</td>
                <td>
                    {% for info in meal.notes %}
                    {{info}} <br />
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>

        <br /><br />
        <h2>Postillon-Ticker:</h2>
        {% if ticker %}
        <ul>
            {% for message in ticker %}
            {% if message.text %}<li>{{ message.text }}</li>{% endif %}
            {% endfor %}
        </ul>
        {% endif %}

        <br /><br />
        <h2>Ein aus Markdown gerenderter Artikel:</h2>
        <div border=1>
            {% if article %}
            {{ article }}
            {% endif %}
        </div>
    </body>
</html>
