@import 'ifsr/css/global';
@import 'ifsr/css/grid/grid';
$margin: 15px;
$large-content: 75vh;
$large-header: 13vh;
$large-content-height: $large-content - $large-header;
$padding: 15px;
$small-content: $large-content/2;
$dvb-height: 100vh - $large-content;
$article-padding: 13px;
html,
body {
    height: 100%;
    border-width: 0px;
    border-spacing: 0px;
    /*box-sizing: border-box;*/
}
body {
    font-family: $body-font-family;
    background-color: $black;
    h2 {
        font-size: 7vh;
        font-weight: 200;
    }
    section#mensa {
        margin: 0px;
        padding-left: 0px;
        padding-right: $padding/2;
        padding-bottom: 0px;
        float: left;
        header {
            height: $large-header;
            background-color: white;
            color: $primary-color;
            padding-left: 1vw;
            overflow: hidden;
        }
        article {
            background-color: #476901;
            height: $large-content-height;
            padding: $article-padding;
            color: $white;
            overflow: hidden;
            
                width: 100%;
                padding-bottom: 7px;
                p:nth-child(3n+1){
                    display: inline-block;
                    width: 20vw;
                    float: left;
                    font-weight: 400;
                    padding-right: 10px;

                }
                p:nth-child(3n+2){
                    width: 8vw;
                    margin-bottom: 7px;
                    float: right;

                }
                p:nth-child(3n+3){
                    width: 8vw;
                    float: right;

                }
            
        }
    }
    section#news {
        margin: 0px;
        padding-left: $padding/2;
        padding-right: $padding/2;
        padding-bottom: 0px;
        float: left;
        header {
            height: $large-header;
            background-color: white;
            color: $primary-color;
            padding-left: 1vw;
            overflow: hidden;
        }
        article {
            background-color: $primary-color;
            height: $large-content-height;
        }
    }
    section#other {
        margin: 0px;
        padding: 0px;
        height: $large-content;
        vertical-align: top;
        float: right;
    }
    section#weather {
        margin: 0px;
        padding-left: $padding/2;
        padding-right: 0px;
        padding-bottom: $padding/2;
        height: $small-content;
        article {
            background-color: $primary-color;
            height: 100%;
        }
    }
    section#misc {
        margin: 0px;
        padding-left: $padding/2;
        padding-right: 0px;
        padding-top: $padding/2;
        padding-bottom: 0px;
        height: $small-content;
        article {
            background-color: $primary-color;
            height: 100%;
        }
    }
    section#dvb {
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: $padding;
        padding-bottom: 0px;
        height: $dvb-height;
        display: inline-block;
        vertical-align: bottom;
        article {
            background-color: $dark-gray;
            height: 100%;
        }
    }
}
section {}
.large_content {
    height: $large-content;
    display: inline-block;
}
.small_content {}
header {}
footer {}
