body {
	padding: 10px;
	margin: 0px;
	height: 100%;
	font-size: 32px;
	font-family: sans-serif, Helvetica, Verdana, Arial;
	overflow: hidden;
}

#fsrurl {
	margin: 0px;
	margin-bottom: 0px;
	text-align: right;
	font-size: 50px;
	position: fixed;
	bottom: 10px;
	right: 75px;
	
	
  /*  text-shadow:
    	0 0 10px #FFFFFF,
    	0 0 20px #FFFFFF,
    	0 0 30px #FFFFFF,
    	0 0 40px #FF00DE,
    	0 0 70px #FF00DE,
    	0 0 80px #FF00DE,
    	0 0 100px #FF00DE,
    	0 0 150px #FF00DE;*/
    
}

.glow {
	text-shadow: 0 0 10px red;
}

#vvobox {
	position: fixed;
	left: 20px;
	bottom: 60px;
	border: 1px solid red;
}
	
.vvoheader {
	font-size:40px;
	margin: 0px; padding: 0px;
	margin-bottom: 15px;
}
.vvo {
	float:left;
	padding-right: 70px;
	font-size:40px;
}
.vvo * {
	float:none;
}

.vvono {
	/*width: 60px;*/
	/*text-align: right;*/
	width: 60px;
}

.vvono3 {
	/*background:#ffbb44;*/
	width: 50px;
}

.vvono85 {
	/*background:#ffbb44;*/
	width: 70px;
}

.vvo table {
	table-layout:fixed;
	overflow: hidden;
	white-space: nowrap; 
	width: 400px;
}

.vvostation {
	/*width: 230px;*/
	/*height: 30px;*/
	max-height: 25px;
	overflow: hidden;
}

.vvomin {
	text-align: right;
	width: 60px;
}

#fsrlogo {
	width: 302px;
	height: 295px;
	position: fixed;
	right: 30px;
	bottom: 80px;
	background-image:url('logo.png');
	background-position: right bottom;
	background-repeat: no-repeat;
}
	
#footer {
	position: fixed;
	bottom: 0px;
	left: 10px;
	border-top: 1px solid #ccc;
	height: 32px;
	padding: 10px;
	margin: 0px;
	width: 850px;
	font-size: 32px;
}

#pages {
	position: fixed;
	text-align: right;
	top: 582px;
	left: 1180px;
	width: 100px;
	height: 50px;
	font-size: 32px;
	text-shadow: 2px 2px 2px #FFFFFF, -2px -2px 2px #FFFFFF;
}

#ticker {
	position: fixed;
	text-align: left;
	bottom: 340px;
	left: 20px;
	width: 924px;
	height: 85px;
	font-size: 26px;
	overflow: hidden;
	border: 1px solid blue;
}

#ticker a {
	text-decoration: none;
	color: #000;	
}

.tickersrc {
	display: block;
	font-size: 16px;
}

pre {
	font-size: 10px;
}

#news {
	font-size: 40px;
	width: 100%;
	height: 520px;
}

.newstitle {
	font-size:48px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px; 
}

.newstext {
	font-size: 42px;
}

#newsbox {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 1200px;
	height: 600px;
	overflow: hidden;	
	border: 1px solid green;
}


/* ESE-Stundenplaene */
#stundenplan td {
	border:1px solid #000000;
	font-family:sans serif;
	border-spacing:0px;
	width:52px;
}

#stundenplan table {
	border-spacing:0px;
}

.plan_tage {
	background-color:#EEEEEE;
	font-weight:bold;
	padding:2px;
}

.plan_stunden {
	background-color:#EEEEEE;
	font-weight:bold;
	padding:3px;
	border-bottom:none !important;
	width:90px !important;
}

.plan_uhrzeit {
	background-color:#EEEEEE;
	font-style:italic;
	padding:3px;
	border-top:none !important;
	width:90px !important;
}

.plan_leer {
	font-weight:bold;
	padding:3px;
	text-decoration:underline;
}

.plan_raum {
	font-style:italic;
	padding:1px;
}

.plan_dozent {
	font-style:italic;
	padding:1px;
	border-right:none !important;
}

.plan_name {
	padding:2px;
	border-bottom:none !important;
}

.newstext table {
	font-size:18px;
}

#debug {
	position: absolute;
	bottom: 4px;
	right: 4px;
	font-size: 8px;
	width: 250px;
	color: #aaa;
}
