body {
	padding: 10px;
	margin: 0px;
	height: 100%;
	font-size: 32px;
	font-family: sans-serif, Helvetica, Verdana, Arial;
	overflow: hidden;
}

#fsrurl {
	margin: 0px;
	margin-bottom: 0px;
	text-align: right;
	font-size: 50px;
	position: fixed;
	bottom: 10px;
	right: 75px;
}

.glow {
	text-shadow: 0 0 10px red;
}

#vvobox {
	position: fixed;
	left: 20px;
	bottom: 55px;
	/*border: 1px solid red;*/
}
	
.vvoheader {
	font-size:40px;
	margin: 0px; padding: 0px;
	margin-bottom: 15px;
}

.vvo {
	float:left;
	padding-right: 70px;
	font-size:40px;
}
.vvo * {
	float:none;
}

.vvono {
	width: 60px;
}

.vvono3 {
	width: 50px;
}

.vvono85, .vvonoE3 {
	width: 70px;
}

.vvono360, .vvono424 {
	width: 80px;
}

.vvo table {
	table-layout:fixed;
	overflow: hidden;
	white-space: nowrap; 
	width: 400px;
}

#technische table {
	width: 450px;
}

.vvostation {
	max-height: 25px;
	overflow: hidden;
}

.vvomin {
	text-align: right;
	width: 60px;
}

#helmholtz .vvomin {
	width: 70px;
}

#fsrlogo {
	width: 302px;
	height: 295px;
	position: fixed;
	right: 30px;
	bottom: 80px;
	background-image:url('logo.png');
	background-position: right bottom;
	background-repeat: no-repeat;
}
	
#footer {
	position: fixed;
	bottom: 0px;
	left: 10px;
	border-top: 1px solid #ccc;
	height: 32px;
	padding: 10px;
	margin: 0px;
	width: 850px;
	font-size: 32px;
}

#pages {
	position: fixed;
	text-align: right;
	top: 575px;
	left: 1115px;
	width: 100px;
	height: 50px;
	font-size: 32px;
	text-shadow: 2px 2px 2px #FFFFFF, -2px -2px 2px #FFFFFF;
}

#ticker {
	position: fixed;
	text-align: left;
	bottom: 325px;
	left: 20px;
	width: 924px;
	height: 85px;
	font-size: 26px;
	overflow: hidden;
	/*border: 1px solid blue;*/
}

#ticker a {
	text-decoration: none;
	color: #000;	
}

.tickersrc {
	display: block;
	font-size: 16px;
}

pre {
	font-size: 10px;
}

#news {
	font-size: 40px;
	width: 100%;
	height: 520px;
}

.newstitle {
	font-size:48px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px; 
}

.newstext {
	font-size: 42px;
}

.newstext table {
	font-size:18px;
}

#debug {
	position: absolute;
	bottom: 4px;
	right: 4px;
	font-size: 8px;
	width: 250px;
	color: #aaa;
}

#newsbox {
	position: absolute;
	top: 10px;
	left: 20px;
	width: 1200px;
	height: 600px;
	overflow: hidden;	
	/*border: 1px solid green;*/
}

#mensa {
	position: fixed;
	top: 20px;
	left: 1300px;
	width: 600px;
	height: 700px;
	font-size: 12px;
}

#mensa td {
	border: 1px dotted #a0a0a0;
	border-width: 0 1px 1px 0;
}

#mensa a {
	text-decoration: none;
	color: #000;
}

/* ESE-Stundenplaene */
#stundenplan td {
	border:1px solid #000000;
	font-family:sans serif;
	border-spacing:0px;
	width:52px;
}

#stundenplan table {
	border-spacing:0px;
}

.plan_tage {
	background-color:#EEEEEE;
	font-weight:bold;
	padding:2px;
}

.plan_stunden {
	background-color:#EEEEEE;
	font-weight:bold;
	padding:3px;
	border-bottom:none !important;
	width:90px !important;
}

.plan_uhrzeit {
	background-color:#EEEEEE;
	font-style:italic;
	padding:3px;
	border-top:none !important;
	width:90px !important;
}

.plan_leer {
	font-weight:bold;
	padding:3px;
	text-decoration:underline;
}

.plan_raum {
	font-style:italic;
	padding:1px;
}

.plan_dozent {
	font-style:italic;
	padding:1px;
	border-right:none !important;
}

.plan_name {
	padding:2px;
	border-bottom:none !important;
}
