@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Exo:400,700);

body {
	padding: 0px;
	margin: 0px;
	font-size: 80px;
	font-family: 'PT Sans', sans-serif;
	overflow: hidden;
	background: #000;
	color: #fff; /*#b0e01b;*/
	text-align: right;
}

#vvobox {
	width: 100%;
}

.vvoheader {
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	font-size: 30px;
	margin: 0px; padding: 0px;
	margin-top: 25px;
	float: left;
	width: 20%;
}

.vvo {
	float:left;
	padding: 2%;
	width: 100%;
	text-align: left;
}

.vvono {
	width: 90px;
	text-align: right;
	padding-right: 5px;
}

.vvo table {
	table-layout:fixed;
	overflow: hidden;
	white-space: nowrap;
	width: 75%;
	padding-left: 5%;
}

.vvostation {
	overflow: hidden;
}

.vvomin {
	text-align: right;
	width: 135px;
	font-weight: bold;
}

#footer {
	position: fixed;
	bottom: 0px;
	border-top: 1px solid #1b1e12;
	height: 100px;
	padding: 10px;
	margin: 0px;
	width: 100%;
	font-size: 80px;
	text-align: center;
}

button {
	z-index: 20;
	background: #000;
	color: #333;
	position: fixed;
	border: none;
	width: 200px;
	height: 80px;
	font-size: 32px;
}

.stale {
	color: #aaa;
}

.stalestale {
	color: #555;
}

.stalestalestale {
	color: #000;
}
