@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #7e71c1; */
  background-color: #2e2e2e;
  color: white;
  margin: 0;
}

html,
body,
#app {
  height: 100%;
  cursor: none;
}
